//palette #272727 #FED766 #009FB7 #696773 #EFF1F3
@font-face 
    font-family: 'karmatic-arcade'
    src: url('../static/ka1.ttf')

@font-face 
    font-family: 'MinecraftEvenings'
    src: url('../static/MinecraftEvenings.ttf')

@font-face 
    font-family: 'Minecraft'
    font-weight: bold
    font-style: normal
    src: url('../static/MinecraftBold.otf')

@font-face 
    font-family: 'Minecraft'
    font-weight: bold
    font-style: italic
    src: url('../static/MinecraftBoldItalic.otf')

@font-face 
    font-family: 'Minecraft'
    font-weight: normal
    font-style: normal
    src: url('../static/MinecraftRegular.otf')

@font-face 
    font-family: 'Minecraft'
    font-weight: normal
    font-style: italic
    src: url('../static/MinecraftItalic.otf')   

*
    margin: 0
    padding: 0
    box-sizing: border-box

.app
    display: flex
    flex-direction: column
    align-items: center

    background-color: #3D3F43
    width: 100vw
    height: 100vh

    font-family: 'karmatic-arcade', serif
    color: #EFF1F3
    overflow: hidden
    text-align: center
    font-size: 14px
    
    &__content
        display: flex
        width: 100%
        height: 100%

    &__wrapper
        width: 80%