@import url('./fonts.css');
@import url('./colors.css');

.button{
    position: relative;
    
    display: flex;
    align-items: center;
    gap: 15px;

    width: 100%;
    padding: 10px 15px 23px 15px;

    font-family: "Minecraft Ten", serif;
    font-size: 20px;
    line-height: 91%;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;

    background-color: $button_background;
    border: 4px solid #1E1E1F ;

    transition: all 0.1s cubic-bezier(.89,.04,.79,.41);

    cursor: pointer;
    
    &::after{
        content: "";
        display: block;
        position: absolute;

        width: calc(100% - 8px);
        height: calc(100% - 8px - 11px);
        top: 0;
        left: 0;
        border: 4px solid $button_top_left_outline;
        border-bottom-color: $button_bottom_right_outline;
        border-right-color: $button_bottom_right_outline;
        box-shadow: 0px 11px #313233;

        transition: all 0.1s cubic-bezier(.89,.04,.79,.41);
    }

    &:hover{
        background-color: $button_background_hover;

        &::after{
            border-color: $button_top_left_outline_hover;
            border-bottom-color: $button_bottom_right_outline_hover;
            border-right-color: $button_bottom_right_outline_hover;
        }
    }

    &:active,&.active{
        padding: 10px 15px 16px 15px;
        transform: translateY(7px);
        margin-bottom: 7px;

        background-color: $button_background_active;

        &::after{
            height: calc(100% - 8px);
            box-shadow: none;

            border-color: $button_top_left_outline_active;
            border-bottom-color: $button_bottom_right_outline_active;
            border-right-color: $button_bottom_right_outline_active;
        }
    }
}

.more{
    width: 58px;
    height: 48px;
    padding: 4px;
    padding-bottom: 15px;

    &::after{
        content: "";
        display: block;
        position: absolute;
    }

    &:active,&.active{
        height: 37px;
        
        transform: translateY(11px);
        margin-bottom: 11px;

        &::after{
            height: calc(100% - 8px);
            box-shadow: none;
        }
    }
}