$backplate_background: #252626;
$backplate_background_hover: #2d2e33;
$backplate_background_active: #1f2123;
$backplate_outline: #1e1e1f;
$backplate_outline_hover: #252626;

$plate_background: #313233;
$plate_background_hover: #35353a;
$plate_background_active: #27292b;
$plate_shadow: #242425;
$plate_bottom_outline: #242424;
$plate_bottom_outline_hover: #25272b;
$plate_bottom_outline_active: #35383c;
$plate_top_outline: #3a3b3d;
$plate_top_outline_hover: #414450;
$plate_top_outline_active: #1a1b1c;

$button_background: #48494a;
$button_background_hover: #58585a;
$button_background_active: #313233;
$button_top_left_outline: #6d6d6e;
$button_bottom_right_outline: #5a5b5c;
$button_top_left_outline_hover: #79797b;
$button_bottom_right_outline_hover: #68686a;
$button_top_left_outline_active: #5a5b5c;
$button_bottom_right_outline_active: #454647;

$titlebar_background: #e6e8eb;
$titlebar_shadow: #b1b2b5;

$dropdown_background: #43464f;
$dropdown_background_hover: #393c43;
$dropdown_background_active: #33363d;
