@import url('./fonts.css');

.feed{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3vw;

    padding: 50px 0;

    width: 100%;

    /* &::after{
        content: "";
        display: block;
    
        position: absolute;
        top: 0;
        left: 0;
    
        width: 100%;
        height: 100%;
    
        border: 4px solid #68696A;
        border-bottom-color: #484B4E;
        border-right-color: #484B4E;
    } */
}

.spinner{
    display: block;
    align-self: center;
}

.item{
    display: flex;
    justify-content: center;
    gap: 2vw;

    padding: 2vw;

    font-family: "Minecraft", serif;
    font-size: 1vw;
    color: #ffffff;
}

.img{
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 287px;
    height: 192px;

    overflow: hidden;
    border: 4px solid #68696A;
    outline: 4px solid #1E1E1F;
}

.contentWrapper{
    display: flex;
    flex-direction: column;

    width: 70%;
}

.headline{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;

    padding: 20px;

    font-family: "Minecraft Ten";
}

.title{
    font-size: 25px;
    font-weight: normal;
}

.version{
    padding: 8px 4px 0 4px;

    line-height: 11px;
    font-size: 11px;
    color: #CFCFCF;
    font-family: "Minecraftia";

    background-color: #545454;
}

.content{
    padding: 10px 20px;

    font-family: 'Minecraftia';
    font-size: 13px;
}