@import url('./fonts.css');

.mods{
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 3vw;

    padding: 25px;

    width: 100%;
}

.loader{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
}

.mod{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2vw;

    padding: 2vw;

    font-family: "Minecraft", serif;
    font-size: 1vw;
    color: #ffffff;
}

.illustration{
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 287px;
    height: 192px;

    filter: drop-shadow(3px 3px #1a1a1a);
}

.img{
    max-width: 287px;
    max-height: 192px;
}

.contentWrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.headline{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;

    padding: 20px;

    font-family: "Minecraft Ten";
}

.title{
    font-size: 25px;
    font-weight: normal;
}

.info{
    display: flex;
    align-items: center;
    gap: 10px;

    list-style: none;

    padding: 8px 4px 0 4px;

    line-height: 11px;
    font-size: 11px;
    color: #CFCFCF;
    font-family: "Minecraftia";

    background-color: #545454;
}

.item{
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon{
    transform: translateY(-4px);
}

.content{
    padding: 10px 20px;

    font-family: 'Minecraftia';
    font-size: 13px;
}