@import url("./colors.css");
@import url("fonts.css");

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 19px;

    padding: 15px;

    height: 77px;
    background-color: $titlebar_background;
    box-shadow: 0 2px 10px 2px #272727;
    border-bottom: 8px solid $titlebar_shadow;
    margin-bottom: 4px;

    box-sizing: border-box;

    cursor: pointer;
}

.avatar {
    display: block;
    position: relative;
    width: 46px;
    height: 46px;

    cursor: pointer;

    &::after {
        content: "";
        position: absolute;
        width: 46px;
        height: 46px;
        display: block;
        top: 0;
        left: 0;
        background-image: url("./icons/frame.svg");
        background-size: contain;
    }
}

.username {
    font-family: "Minecraft Ten";
    text-transform: uppercase;
    font-size: 25px;
    padding-bottom: 8px;

    color: #000000;
}
