.provider {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    font-family: "Minecraft Ten";
}

.backplate {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;

    padding: 22px;
}

.accounts {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    width: calc(100% - 8px);
}

.account {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 22px;
}

.content {
    font-family: "Minercraftory";
    font-size: 18px;
}

.username {
    position: relative;
}

.active::after {
    content: "Active";
    position: absolute;
    top: 50%;
    right: -70px;

    transform: translateY(calc(-50% + 2px));

    display: block;
    width: fit-content;
    padding: 6px 4px 0px 6px;

    background-color: #008542;

    font-family: "Minecraftia";
    font-size: 11px;
    line-height: 11px;
    text-transform: uppercase;
}

.description {
    color: #cfcfcf;
    text-align: start;
    font-size: 11px;
}

.editor {
    display: none;
    flex-direction: column;
    align-items: stretch;
    width: 100%;

    &_active {
        display: flex;
    }
}

.input {
    display: flex;
    justify-content: space-between;
    padding: 22px;

    width: 100%;

    font-family: "Minecraft Ten";
}
